@model IEnumerable<Task2.Models.User>

@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>

@using (Html.BeginForm("User-List", "User", FormMethod.Post))
{
    <div>
        <button class="btn btn-default">Get users in json format (post request)</button>
    </div>
    <br />
}

<p>
    @Html.ActionLink("Create new user", "Add-User")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
    </tr>
}

</table>
